/*mixins*/
@import "./var.scss";
/*mixins*/
@import "./mixin.scss"; 
.img {
  display: block;
  width: 100%;
  height: auto;
}
.text__left {
  text-align: left;
}
.text__right {
  text-align: right;
}
.text__center {
  text-align: center;
}
.mt-6 {
  margin-top: 6rem;
  @include tablet {
    margin-top: 4rem;
  }
  @include mobile {
    margin-top: 2rem;
  }
}
.mt-5 {
  margin-top: 5rem;
}
.mt-4 {
  margin-top: 4rem;
  @include mobile {
    margin-top: 2rem;
  }
}

.mt-3 {
  margin-top: 3rem;
}
.mt-2 {
  margin-top: 2rem;
  @include tablet{
    margin-top: 1rem;
  }
}
/*animation for collum icon*/
.border__icon{
  border: 2px solid $red!important;
  animation-name: blik;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes blik{
  0%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(0.8);
  }
}