/*variables*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";

#aboutUs{
  display: flex;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.sidebar__bg{
  width: 400px;
  max-width: 400px;
  background-color: $black;
}
.about__row{
  width: calc(100% - 400px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__content{
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgba($color: $silver, $alpha: 0.2);
  border: 1px solid rgba($color: $blue, $alpha: 0.2);
  h2{
    font-family: inherit;
    font-size: 2.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $text;
    span{
      margin-left: 0.5rem;
      color: $blue;
    }
  }
  p{
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    color: $text;
  }
  &--item{
    i{
      color: $blue;
      font-size: 1.5rem;
      margin-right: 1rem;
      transition: color 0.2s ease;
    }
    span{
      font-family: inherit;
      font-size: 1.5rem;
      font-weight: 400;
      color: $text;
      transition: color 0.2s ease;
    }
    &:hover{
      cursor: default;
      span{
        color: $blue;
      }
      i{
        color: $red;
      }
    }
  }
}