/*variables*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";
#work{
  display: flex;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}
.work__row{
  width: calc(100% - 400px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
